@import "tailwindcss";

:root {
  --font-jet: "JetBrains Mono", serif;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-extrabold: 800;
  /* Color Variables */
  --main: #323541; /* Dark Blue */
  --light: #bdcaff; /* Light Gray */
  --board: #414558; /* Red Accent */
  /* --border: #545970; Muted Blue */
  --subboard: hsl(230, 16%, 25%); /* Dark Background */
}

.jet-light {
  font-family: var(--font-jet);
  font-weight: var(--font-light);
}

.jet-normal {
  font-family: var(--font-jet);
  font-weight: var(--font-normal);
}

.jet-bold {
  font-family: var(--font-jet);
  font-weight: var(--font-bold);
}

.jet-extrabold {
  font-family: var(--font-jet);
  font-weight: var(--font-extrabold);
}
